.titulo-projeto{
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 4rem; 
}

.projeto{
  padding: 2rem;
  display: flex;
  flex-flow: row;
}

.projeto-item {
  padding: 1rem;

}

.imagem-projeto {
  display: flex;
  justify-content: center;
  width: 35rem;
  height: 35rem;
}

.dados-projeto{
  display: flex;
  flex-flow: column;

}

.dados-projeto-item{
  padding: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: start;
}
