/* index.html */

.div-perfil{
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.imagem-perfil{
  display: grid;
  max-width: 95%;
  min-width: 55%;
  padding-left:1%;
}
.div-perfil-2{
  display:grid;
  font-family: 'Libre Caslon Text', serif;
  font-size: 150%;
  text-align: start;
}
.info-pessoal-item{
  display: grid;
  grid-column: 1;
}

.projetos{
  display:grid;
  grid-template-columns: 1fr 3fr;
}
.imagem-projetos-main{
  grid-column: 2;
  max-width: 50%;
  max-height: 30%;
  min-width: 30;
  min-height: 10%;
}

.link-categoria{
}


/* .div-perfil{
  width: 20%;
  height: 20%;
}
.div-perfil-2{
  display: flex;
  max-width: 20%;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 18.5%;
} 
.imagem-perfil {
  display: flex;
  justify-content: left;
  padding-left: 2%;
  max-width: 88%;
  max-height: 88%;
  min-width: 50%;
  min-height: 50%;
}
.info-pessoal-item{
    display: flex;
    max-width: 20%;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 18.5%;
}

.info-pessoal {
  display: flex;
  margin-top: 10rem;
  max-width: 54.2%;
  justify-content: center;
} */


.link-categoria {
  /* margin-left: 1%;
  margin-top: 5%; */
  /* font-size: 4em;s
  color: blue; 
  text-decoration:bold; */
}

/* .link-categoria-item {
  align-self: auto; */
  /* margin-top: auto;
  margin-left: 5%; */
  /* font-size: 1.25em;
  color: black; 
  text-decoration:bold; */
}



/* .imagem-projetos-main{
  display: flex;
  justify-content: right;
  max-width: 45%;
  max-height: 45%;
  min-width: 40%;
  min-height: 40%; */
  /* margin-left: 40%;
  margin-top: -7%; */
}


