.header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-top: 1rem;
}

.logo {
  width: 13rem;
  height: 2.5rem;
} 

.body{
	display: flex;
	flex-flow: column;
  justify-content: center;
  align-self: center;
}

.main{
  max-width: 1043px;
  align-self: center;
}

.body-item{
	margin: 0 auto;
}

.alinhamento{
  
}