.titulo-projeto {
  font-size: 4rem;
  text-align: center;
}

.imagem-projeto {
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem;
  margin-top: 3rem;
  max-width: 30rem;
  max-height: 30rem;
}

.descricao-projeto {
  align-self: flex-start;
  margin-left: 35rem;
  margin-top: -25rem;
}