/* index.html */
.pessoal{
}
.info-pessoal {

}

.info-pessoal-item {
  margin-left: 15em;
  
}

.link-categoria {
  margin-bottom: 3em;
  margin-left: 0.35em;
  /* font-size: 4em;
  color: blue; 
  text-decoration:bold; */
}

.link-categoria-item {
  margin-bottom: 3em;
  margin-left: 0.35em;
  /* font-size: 1.25em;
  color: black; 
  text-decoration:bold; */
}

.imagem-perfil {
  display: flex;
  justify-content: left;
  margin-left: 3em;
  margin-top: 8em;
  width: 13%;
  height: 25%;
}

.imagem-projetos-main{
  display: flex;
  /* float: right; */
  margin-left:50%;
  margin-top: 6em;
  width: 47%;
  height:40%;
}
