/* categoria.html */

.secao-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.titulo-categoria {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: #0E0357;
}

.body {
  background-color: #F7F7F7;
}

.projetos-menu {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projeto-menu-item2 {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 100%;
  background-color:#EDEDED;
}

.projeto-menu-item1 {
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 100%;
  background-color:#EDEDED;
}

.projeto-menu-item-image {
  width: 15rem;
  height: 15rem;
  padding-top: 0.5rem;
}

.projeto-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1rem;
  width: 50rem;
  height: 15rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.texto {
  font-size: 1rem;
  font-family: 'Libre Caslon Text', serif;
  padding-top: 1rem;
  padding-left: 1rem;
}

.nome_projeto {
  font-size: 1.5rem;
  font-family: 'Libre Caslon Text', serif;
  color: #4908ED;
}

.saber_mais {
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: right;
  line-height: 3rem;
  padding-bottom: 1rem;
  color: #1C05AD;
  text-decoration: none;
}
