/* .header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

.logo {
  width: 13rem;
  height: 2.5rem;
} */
/* 
  display: grid;
  grid-template-columns: 1fr 5fr;
  border-top-width: 0.15em;
} */
.header{
  display: grid;
  grid-template-columns: 1fr 5fr;
  border-top-width: 0.15em;
}
.logo {
  grid-column: 1;
  margin: 1rem;
  width: 13rem;
  height: 2.5rem;
}

.menu-logo-item {
  grid-column: 2;
  margin: 1.5rem; 
}
