/* index.html */

.itens-totais{
  display: flex;
  flex-flow: column;
  max-width: 1043px;
  align-self: center;
}

.itens-em-cima{
  display: flex;
  flex-flow: row;
}

.itens-em-baixo{
  display: flex;
  flex-flow: row;
}

.itens-em-cima-item{
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.itens-em-baixo-item{
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;  
}

.imagem-perfil{
  max-width: 10rem;
  max-height: 10rem;
}

.info-pessoal{
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: start;
}

.info-pessoal-item{
  padding-top: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: start;
}

.imagem-projetos-main{
  justify-content: center;
  width: 33rem;
  height: 15rem;
}

.categorias{
  font-family: 'Libre Caslon Text', serif;
  font-size: 3rem;
  text-align: start;
}

.categorias-item{
  padding-top: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: start;
}

