/* index.html */

.itens-totais{
  display: flex;
  flex-flow: column;
  max-width: 1043px;
  align-self: center;
  background-color:#EDEDED;
}
.link123{
  text-decoration: none;
  color:#FFFFFF;
}
.link-categoria{
  text-decoration: none;
  color:#1C05AD;
}
.itens-em-cima{
  display: flex;
  flex-flow: row;
}

.itens-em-baixo{
  display: flex;
  flex-flow: row;
  background-color:#EDEDED;
}

.itens-em-cima-item{
  padding-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.itens-em-baixo-item{
  padding-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;  
}

.imagem-perfil{
  max-width: 10rem;
  max-height: 10rem;
  min-width: 5rem;
  min-height: 5rem;
}

.info-pessoal{
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: start;
  color: #4908ED;
  text-decoration: none;            
}

.info-pessoal-item{
  padding-top: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: start;
}

.imagem-projetos-main{
  justify-content: center;
  max-width: 33rem;
  max-height: 15rem;
  min-width: 23rem;
  min-height:5rem;
}

.categorias{
  font-family: 'Libre Caslon Text', serif;
  font-weight: bolder;
  font-size: 3rem;
  text-align: start;
  color: #0E0357;
}

.categorias-item{
  padding-top: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1.5rem;
  text-align: start;
  color: #1C05AD;
  text-decoration: none;
}

@media (max-width: 420px) {

  .itens-totais{
    width: 100%;
  }
  .imagem-projetos-main{
    display: none;
  }
  .itens-em-cima{
    max-width: 420px;
  }
  .itens-em-cima-item{
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .imagem-perfil{
    max-width: 10rem;
    max-height: 10rem;
    min-width: 5rem;
    min-height: 5rem;
    padding-top: 1rem;
    padding-left:1rem;
  }
  .info-pessoal{
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    text-align: start;
    color:#1C05AD;
    text-decoration: none; 
    padding-top:1rem;
    padding-left:1rem;           
  }
  
  .info-pessoal-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: start;
    padding-left:1rem;  
    color:#4908ED;
  }
  .categorias-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    text-align: start;
    color: #1C05AD;
    text-decoration: none;
    padding-left:1rem;
  }
  .link123{
		padding-right: 1.5rem;
	}
  
}
/* IPHONE 5/SE tava dando ruim */
@media (width: 320px) {

  .itens-totais{
    width: 100%;
  }
  .imagem-projetos-main{
    display: none;
  }
  .itens-em-cima{
    max-width: 100%;
  }
  .itens-em-cima-item{
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .imagem-perfil{
    max-width: 10rem;
    max-height: 10rem;
    min-width: 5rem;
    min-height: 5rem;
    padding-top: 1rem;
    padding-left:1rem;
  }
  .info-pessoal{
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.2rem;
    text-align: start;
    color: #1C05AD;
    text-decoration: none; 
    padding-top:1rem;
    padding-left:1rem;           
  }
  
  .info-pessoal-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: start;
    padding-left:1rem;  
    color:#4908ED;
  }
  .categorias-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    text-align: start;
    color: #1C05AD;
    text-decoration: none;
    padding-left:1rem;
  }
  .link123{
		padding-right: 1.5rem;
	}
  
}
/* IPAD */
@media (width: 768px) {

  .itens-totais{
    width: 100%;
    height:50%
  }
  .imagem-projetos-main{
    display: none;
  }
  .itens-em-cima{
    width: 768px;
  }
  .itens-em-cima-item{
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .imagem-perfil{
    max-width: 10rem;
    max-height: 10rem;
    min-width: 5rem;
    min-height: 5rem;
    padding-top: 1rem;
    padding-left:1rem;
  }
  .info-pessoal{
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    text-align: start;
    color:#1C05AD;
    text-decoration: none; 
    padding-top:1rem;
    padding-left:1rem;           
  }
  
  .info-pessoal-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: start;
    padding-left:1rem;  
    color:#4908ED;
  }
  .categorias-item{
    padding-top: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1.5rem;
    text-align: start;
    color: #1C05AD;
    text-decoration: none;
    padding-left:1rem;
  }
  .link123{
		padding-right: 1.5rem;
	}
  
}