.main{
  background-color: #F7F7F7;
}

.titulo-projeto{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: #0E0357;
}

.projeto{
  padding: 2rem;
  display: flex;
  flex-flow: row;
}

.projeto-item {
  padding: 1rem;
  display: flex;
}

.imagem-projeto {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.dados-projeto{
  display: flex;
  flex-flow: column;
}

.subtitulo{
  font-size: 2rem;
}

.descricao{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: left;
}

.grupo{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: left;
}

.habilidade{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: left;
}


.recursos{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 420px) {
  .main{
    width: 100%;
  }

  .titulo-projeto{
    padding-top: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #0E0357;
  }

  .projeto{
    padding: 2rem;
    display: flex;
    flex-flow: column;
  }

  .imagem-projeto {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .dados-projeto{
    display: flex;
    flex-flow: column;
  }

  .subtitulo{
    text-align: center;
    font-size: 1.5rem;
  }
  
  .descricao{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: center;
  }
  
  .grupo{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: center;
  }
  
  .habilidade{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: center;
  }
  .recursos{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    text-align: center;
  }
}