.header {
	display: flex;
	height: 2rem;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
	padding-top: 1rem;
	max-width: 100%;
	min-width: 50%;
	background-color: #0E0357;
}

.logo {
	padding-bottom: 0.5rem;
	width: 13rem;
	height: 2.5rem;
} 

.body {
	display: flex;
	flex-flow: column; 
	justify-content: center;
	align-self: center;
	background-color: #F7F7F7;
}

.main {
	max-width: 1043px;
	align-self: center;
}

.body-item {
	margin: 0 auto;
}

.home{
	padding-bottom: 0.1rem;
	text-decoration: none;
	color:#FFFFFF;
	padding-top:0.5rem;
}

@media (max-width: 420px) {
	.header{
		width: 100%;
		padding-right: 0rem;
	}
	.main {
		width: 100%;
	} 
	.home{
		padding-right: 0.6rem;
		padding-top:0.5rem;
	}
}

/* IPAD */
@media (width: 768px) {
	.header{
		width: 100%;
		padding-right:0rem;
	}
	.main {
		width: 100%;
	}
}