  /* categoria.html */

.secao-title {
  display: flex;
  justify-content: center ;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}

.titulo-categoria {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: #0E0357;
}

.body {
  background-color: #F7F7F7;   
}

.projetos-menu {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projeto-menu-item{
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color:#EDEDED;
  flex-flow: row-reverse;
}

.projeto-menu-item-image{
  display: flex;
  width: 40%;
  height: 40%;
  padding: 2rem;
  justify-content: center;
}

.projeto-menu-item-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1rem;
  width: 50rem;
  height: 15rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.texto {
  font-size: 1rem;
  font-family: 'Libre Caslon Text', serif;
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: justify;
}

.nome_projeto {
  font-size: 1.5rem;
  font-family: 'Libre Caslon Text', serif;
  color: #4908ED;
}

.saber_mais {
  font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  text-align: right;
  line-height: 3rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  color: #1C05AD;
  text-decoration: none;
}

@media (max-width: 420px){
  .projeto-menu-item-image {
    width:50%;
    height: 70%;
    padding: 1rem;
    align-items: center; 
  }
  .projeto-menu-item{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
  }
  .projeto-menu-item-text{
    padding-right: 0.3rem;
    width:50%;
    text-align: center;
  }
  .titulo-categoria{
    padding-top:0rem;
    font-size: 2rem
  }
  .menu-logo-item{
    padding-right:1rem;
  }
  .texto{
    font-size: 0.8rem;
  }
}